@import "../../constants.scss";

.ProjectContainer {
  width: 70%;
}
@media (max-width: 780px) {
  .ProjectContainer {
    width: 100% !important;
  }
}

.Project {
  flex-basis: 49%;
  background: $primary;
  height: 350px;
  position: relative;
  &--clickable {
    cursor: pointer;
  }
  &:hover &__Thumbnail {
    transform: scale(1.05);
  }
  &__Background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../../assets/images/backgroundPattern.png") center
      center/cover;
    mix-blend-mode: multiply;
    z-index: 1;
  }
  &__DetailPanel {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
  }
  &__Thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 60%;
    transition: all 0.6s ease;
  }
  &__TitleHolder {
    position: absolute;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
  }
  &__Name {
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: $text-white;
  }
  &__Tags {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    color: $text-white;
  }
}
.animateElement {
  position: fixed;
  z-index: 9999;
  height: 10px;
  width: 10px;

  background: #263238;
  border-radius: 100%;
  animation-name: example;
  animation-duration: 0.6s;
  animation-timing-function: linear;
}

@keyframes example {
  0% {
    transform: scale(1);
  }
  80% {
    transform: scale(1000);
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
