@import "../constants.scss";

.Navigation {
  display: flex;
  padding: 8px;
  height: 60px;
  width: 100%;
  z-index: 9999;

  left: 0;
  &__Brand {
    max-height: 50px;
    margin-left: 40px;
    @media (min-width: 768px) {
      img {
        max-width: 300px;
        width: auto;
      }
    }
  }
  &__Back {
    font-size: 20px;
    cursor: pointer;
  }
  &__Link {
    margin-left: 30px;
    color: $text-primary;
    &:hover {
      text-decoration: none;
      color: $text-primary;
    }
  }
}
