$primary: #263238;
$secondary: #263238;
$black: #333;
$white: #fff;
$lightest-gray: #d3d3d3;
$dark-gray: #555555;

$text-primary: $primary;
$text-dark: $black;
$text-white: $white;
$text-gray: $dark-gray;
